.nav .nav-item + .nav-item {
  /* CSS rules for adjacent .nav-item elements */
  /* For example: */
  margin-left: 10px;
  font-weight: bold;
  color: aqua;
}

.container {
  display: flex;
}

.item {
  /* Equivalent to flex-grow: 1; flex-shrink: 1; flex-basis: 0%; */
  background-color: lightblue;
  margin: 5px;
  padding: 10px;
  width: 140px;
  flex: 1;

}

.container:first-child {
  flex-basis: 300px;
}

.non-selectable {
  user-select: none;
}

